# Django Settings
DJANGO_SECRET_KEY=django-insecure-^m!5$ju_6sk_fo1*lo=u#%lv%7id5fp4dsh&fv)5wo7=x&)-!#
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com

# Database (PostgreSQL)
DB_NAME=Data
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
